:root{
  --body_background: white;
  --body_color: black;
  --link_color: navy;
}

[data-theme="dark"]{
  --body_background: #282c34;
  --body_color: white;
  --link_color: cyan;
}

* {
  transition: all 0.3s ease-in-out;
}

body,header{
  background-color: var(--body_background);
  color: var(--body_color);
}

.App-Moon {
   width: 48px;
   height: 45px;
   /* opacity: .7; */
   margin-right: 10px;
   margin-left: 20px;
   background-color: transparent;
   
}

.App-Sun {
  width: 50px;
  height: 50px;
  /* opacity: .7; */
  margin-left: 10px;
  margin-top: 5px;
  background-color: transparent;
  
}

.dark_mode {
  /* width: 80%; */
  height: 100%;
  background-color: transparent;
  border: solid 2px grey;
  border-radius: 30px;
  /* display: flex; */
  margin-right: 15px;
  align-items: center;
  justify-content: center;
}

.dark_mode_label{
  background-color: transparent;
  width:100px;
  height:50px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
}

.dark_mode_label::before{
  position:absolute;
  content: '';
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin-top: 22.4px;
  margin-left: 27.5px;
  transition: 0.3s;
}


input:checked + .dark_mode_label{
  background-color: transparent;
}

input:checked + .dark_mode_label::before{
  transform: translateX(65px);
  background-color: white;
}

input{
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


